{% extends "account/base.html" %}

{% load i18n %}
{% load account crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="text-center logo my-4">{% trans "Sign In" %}</h1>
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"></h3>
		<form class="login" method="POST" action="{% url 'account_login' %}" novalidate>
		  {% csrf_token %}
		  {{ form|crispy }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}

		  <button class="primaryAction btn btn-outline-primary btn-block" type="submit">{% trans "Sign In" %}</button>
		</form>
            </div>
            <div class="card-footer text-muted text-center">
              No Account? Register <a href="{% url 'account_signup' %}">Sign up</a>
            </div>
          </div>
          <div class="text-center py-2 ">
            <small>
		  <a class="button secondaryAction text-muted" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </small>
          </div>
            </div>
          </div>
        </div>
      </div>
  </div>


{% endblock %}
