{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'account:change_password' %}">Change password</a></li>
  <li class="breadcrumb-item active">Success</li>
{% endblock %}

{% block content %}

	<div class="container">


		<h1>{% trans "Sign Out" %}</h1>

		<p>{% trans 'Are you sure you want to sign out?' %}</p>

		<form method="post" action="{% url 'account_logout' %}" novalidate>
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		  {% endif %}
		  <button class="btn btn-primary type="submit">{% trans 'Sign Out' %}</button>
		</form>
		<br>

	  <a href="{% url 'main:home' %}" class="btn btn-secondary btn-sm">Return to home page</a>
	</div>

{% endblock %}

