{% extends "account/base.html" %}

 {% load i18n crispy_forms_tags thumbnail static %}

 {% block title %}{% trans "Change Password" %}{% endblock %}

{% block head %}
  <link href="{% static 'css/user_form.css' %}?v=1" rel="stylesheet">
{% endblock head %}

{% block content %}
	<div class="page-header">
      <h1>{% trans 'Account Settings' %}</h1>
	</div>
	<div class="row profile">
		<div class="col-md-3 user-profile">
	      <h1>{{ user.username|title }}</h1>
	      {% if user.first_name %}<p class="lead">{{ user.first_name }}</p>{% endif %}
	      {% if user.picture %}
	        {% thumbnail user.picture "x190" as im %}
	          <img class="mb-5" src="{{ im.url }}" alt="Picture Profile" id="pic">
	        {% endthumbnail %}
	      {% else %}
	        <img class="mb-5" src="{% static 'img/user.png' %}" alt="No Profile Picture" />
	      {% endif %}
	        {% include 'users/partial_settings_menu.html' with active='password' %}
	    </div>
		<div class="col-md-8 offset-1">
			{% if messages %}
				{% for message in messages %}
				  <div class="alert alert-success alert-dismissable">
				    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				    {{ message }}
				  </div>
				{% endfor %}
			{% endif %}
		    <form method="POST" action="{% url 'account_change_password' %}" class="password_change" novalidate>
		        {% csrf_token %}
		        {{ form|crispy }}
		        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
		    </form>
		</div>
	</div>
{% endblock %}