{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-10">
		    <h1>{% trans "Set Password" %}</h1>
		    <form method="POST" action="{% url 'account_set_password' %}" class="password_set" novalidate>
		        {% csrf_token %}
		        {% include 'includes/form.html' %}
		        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
		    <form>
		</div>
	</div>
    </div>
{% endblock %}
