{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-10">
		    <h1>{% trans "Change Password" %}</h1><br>
		    <form method="POST" action="{% url 'account_change_password' %}" class="password_change" novalidate>
		        {% csrf_token %}
		        {% include 'includes/form.html' %}
		        <button type="submit" class="btn btn-outline-primary" name="action">{% trans "Change Password" %}</button>
		    </form>
		</div>
	</div>
    </div>
{% endblock %}
