
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="text-center logo my-4">{% trans "Sign Up" %}</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
	        <div class="card-body">
	    	    <h3 class="card-title">Sign up</h3>
			<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate>
			  {% csrf_token %}
			  {% include 'includes/form.html' %}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button class="btn btn-outline-primary btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
			</form>
                </div>
	        <div class="card-footer text-muted text-center">
			<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
	        </div>
	    </div>
            <div class="py-2  text-center">
                <a class="text-muted" href="{% url 'account_reset_password' %}">Reset Password</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}


