aniso8601==3.0.2
astroid==2.2.0
boto3==1.9.102
botocore==1.12.102
certifi==2018.11.29
chardet==3.0.4
cssselect==1.0.3
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.2.10
django-allauth==0.38.0
django-appconf==1.0.2
django-contact-form==1.6
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-extensions==2.1.5
django-model-utils==3.1.2
django-pagedown==1.0.6
django-storages==1.7.1
django-taggit==0.23.0
-e git://github.com/Shekharnunia/django-tellme.git@ced4aaed92f8d2fb6dbb898b957d804fa9a5161e#egg=django_tellme
django-widget-tweaks==1.4.2
docutils==0.14
idna==2.7
isort==4.3.9
jmespath==0.9.4
jsonfield==2.0.2
lazy-object-proxy==1.3.1
lxml==4.3.0
Markdown==3.0.1
markdown2==2.3.7
mccabe==0.6.1
mock==2.0.0
oauthlib==2.1.0
pbr==5.1.1
Pillow==6.2.0
promise==2.2.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pydot==1.4.1
pylint==2.3.0
PyMySQL==0.9.3
pyparsing==2.3.1
pyquery==1.4.0
python-dateutil==2.8.0
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
readtime==1.0.6
requests==2.21.0
requests-oauthlib==1.1.0
Rx==1.6.1
s3transfer==0.2.0
singledispatch==3.4.0.3
six==1.12.0
sorl-thumbnail==12.5.0
soupsieve==1.6.2
sqlparse==0.2.4
typed-ast==1.2.0
Unidecode==0.4.21
urllib3==1.26.5
wrapt==1.11.1
