{% extends "qa_base.html" %}
{% block content %}
	<div class="container text-center">
		<h1>
			Hello, Welcome to my website
		</h1>
		<br>
		<h3>This website is made for students. <br>This website allow studens to get all resources at one place. </h3><br>
		<h4>We contain a Forum section where students can ask all their queries as per their interest.</h4><br>
		<h4>We also contain a article section where students can see the contents that are written by teachers and students can read them as per their interest too.</h4><br>
		<h4>We also contain a Polls section where students and teacher can do polling that are written by teachers and students and anyone can give the votes on them.</h4><br>
		<h4>We also contain a newsletter section where students and teacher can do subscribe to get email regarding Puzzles to always get notified about them.</h4><br>
		
	</div>

{% endblock content %}