{% extends "qa_base.html" %}
{% load static i18n crispy_forms_tags %}

{% block title %}{% trans 'Create an assignment' %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock head %}

{% block content %}
	<a class="btn btn-info mb-4 pull-right" href="{% url 'assignment:create' %}">Create new assignment</a> <br>
	<form action="" class="mb-4" method="POST" enctype="multipart/form-data" novalidate>
		{% csrf_token %}
		{{ form|crispy }}
		{{ form.media }}
		<button type="submit" class="btn btn-primary mr-3">Create</button>
		<a href="{% url 'assignment:list' %}" class="btn btn-secondary">Cancel</a>
	</form>
{% endblock content %}

{% block modal %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE({ element: document.getElementById("id_description") });
  </script>
{% endblock modal %}
