{% extends "qa_base.html" %}

{% load i18n crispy_forms_tags humanize thumbnail static %}

{% block head %}
	<link href="{% static 'css/articles.css' %}" rel="stylesheet">
	<style>
		.comment-reply{
			display: none;
		}		
	</style>
{% endblock head %}

{% block content %}
<div class="mb-4">
	<div>
		<ol class="breadcrumb my-4">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'assignment:list' %}">Assignment</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ assignment.topic|title }}</li>
		</ol>
	</div>
	
	<div class="col-sm-10 offset-sm-1">
		<div class="card">
			<div class="card-header text-center">
				<i class="fa fa-calendar ml-3 mr-2"></i>{{ assignment.timestamp|date:"M d, Y" }}
				<i class="lead fa fa-user ml-5 mr-2"></i><a href="{% url 'users:detail' assignment.uploader.username %}">{{ assignment.uploader }}</a>
				<i class="far fa-eye ml-5 mr-2"></i>views
				{{ assignment.assignment_views }}
				
				{# <i class="fas fa-comments ml-5 mr-2"></i>{{ comment_count }} {% trans 'comments' %} #}
			</div>
			<div class="card-body">
				<h2 class="card-title">{{ assignment.topic|capfirst }}</h2>
				<p class="card-text">{{ assignment.get_description_as_markdown|safe }}</p>
				<a target="_blank" class="btn btn-primary" href='{{ assignment.assignment_file.url }}'>Download<i class="fas fa-download ml-2"></i></a>
			</div>
			{% if request.user == assignment.uploader %}
			<div class="card-footer">
				<a class="btn btn-info pull-right btn-sm" href="{% url 'assignment:edit' assignment.slug assignment.pk %}"><i class="far fa-edit mr-1"></i>Edit</a>
				<a class="btn btn-danger pull-right mr-4 btn-sm" href="{% url 'assignment:delete' assignment.slug assignment.pk %}"><i class="fas fa-trash-alt mr-1"></i>Delete</a>
            </div>
            {% endif %}
		</div>
		<hr>
		
		<div class="comment-div">
			<div class="">
		        <p class='lead'>Comments</p>
		        <form method="POST" action="." novalidate> {% csrf_token %}
		            {{ comment_form|crispy }}
		            <input type='submit' value='Post comment' class='btn btn-info btn-sm'>
		        </form>
	        </div>
	        <hr/>
	        {% for comment in comments %}
		        <blockquote>
		          <p>{{ comment.content }}</p>
		          <footer class="blockquote-footer">via <a href="{% url 'users:detail' comment.user %}">{{ comment.user }}</a> | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> | <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></footer>
		          <div class='comment-reply'>
		              	{% for child_comment in comment.children %}
			                <blockquote class="">
			                <p>{{ child_comment.content }}</p>
			                <footer class="blockquote-footer">via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
		                </blockquote>
			            {% endfor %}
			            <form method="POST" action="."> {% csrf_token %}
			                {{ comment_form|crispy }}
			                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
			                <input type='submit' value='Reply' class='btn btn-default'>
			            </form>
			        </div>
		        </blockquote>
		        <hr/>
	        {% endfor %}
	    </div>
    
    </div>

	<div class="col-sm-10 offset-1">
		{% if request.user.is_teacher == True and request.user == assignment.uploader %}
		<h3>Assignment Solutions</h3>
		{% endif %}
		{% for assignment in s_assignments %}
		<hr>
		<div class="card">
			<div class="card-header text-center">
				<i class="fa fa-calendar ml-3 mr-2"></i>{{ assignment.timestamp|date:"M d, Y" }}
				<i class="lead fa fa-user ml-5 mr-2"></i><a href="{% url 'users:detail' assignment.user.username %}">{{ assignment.user }}</a>
			</div>
			<div class="card-body">
				<p>{{ assignment.get_feedback_as_markdown }}</p>
				{% if assignment.assignment_file %}
					<a class="btn btn-primary" target="_blank" href="{{ assignment.assignment_file.url }}">Check the Solution</a>
				{% endif %}
			</div>
			{% if request.user == assignment.user %}
			<div class="card-footer">
				<a class="btn btn-info btn-sm pull-right" href="{% url 'assignment:edit_assignment' assignment.pk %}"><i class="far fa-edit"> </i>Edit</a>

				<a class="btn btn-danger btn-sm mr-4  pull-right" href="{% url 'assignment:delete_assignment' assignment.pk %}"><i class="fas fa-trash-alt"> </i> Delete</a>
			</div>
			{% endif %}
		</div>
		{% empty %}
			{% if request.user.is_teacher == True and request.user == assignment.uploader %}
				<h2 class="text-center">No assignemt by students yet</h2>
			{% elif request.user.is_student == True %}
				<h2 class="text-center">You didn't upload assignment yet</h2>
			{% endif %}
		{% endfor %}
	</div>
	{% if request.user.is_student == True %}
	<div class="row">
		<div class="col-md-10 offset-1">
			<form action="" method="POST" enctype="multipart/form-data" novalidate>
				{% csrf_token %}
				{{ s_form|crispy }}
				<button type="Submit" class="btn btn-success">Submit</button>
			</form>
		</div>
	</div>
	{% endif %}
</div>
{% endblock content %}
