{% extends "qa_base.html" %}

{% block content %}
<div class="mb-4">
	<div>
		<ol class="breadcrumb my-4">
	            <li class="breadcrumb-item"><a href="#">Home</a></li>
	            <li class="breadcrumb-item"><a href="{% url 'assignment:list' %}">Assignment</a></li>
	            <li class="breadcrumb-item active" aria-current="page">{{ assignment.topic|title }}</li>
	      	</ol>
	</div>

	<div class="col-sm-10 offset-sm-1">
		<div class="card">
			<div class="card-header text-center">
		    <i class="fa fa-calendar ml-3 mr-2"></i>{{ assignment.timestamp|date:"M d, Y" }}
		    <i class="lead fa fa-user ml-5 mr-2"></i><a href="{% url 'account:profile' assignment.uploader.username %}">{{ assignment.uploader }}</a>
		    <i class="far fa-eye ml-5 mr-2"></i>views
		    {{ assignment.assignment_views }}
		  </div>
		  <div class="card-body">
		    <h4 class="card-title">{{ assignment.topic|capfirst }}</h4>
		    <p class="card-text">{{ assignment.description|safe }}</p>
		    <a target="_blank" class="btn btn-primary" href='{{ assignment.assignment_file.url }}'>Download<i class="fas fa-download ml-2"></i></a>
		  </div>
		</div>
	</div>
	<br>
	<div class="col-sm-4 offset-sm-4">
		<a class="btn btn-primary mr-4" href="{% url 'assignment:edit' assignment.slug assignment.pk %}">Edit</a>
		<a class="btn btn-danger" href="{% url 'assignment:delete' assignment.slug assignment.pk %}">Delete</a>
	</div>
</div>
{% endblock content %}