{% extends "qa_base.html" %}
{% load static i18n %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% trans 'Assignments' %}</li>
	</ol>
</nav>

<div class="page-header">
	{% if request.user.is_teacher == True %}
	<a href="{% url 'assignment:create' %}" class="btn btn-primary pull-right">
		<i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Create new assignment" %}
	</a>
	{% endif %}
	<h1>{% trans "Assignments" %}</h1>
</div>
    {% include "snippits/search.html" with query='query' url=search_url %}   
        
    {% if assignment_count %}
      <p class="font-weight-bold col-md-10 offset-md-1">Total no. of assignment found : {{ assignment_count }}</p>
    {% endif %}

		{% if request.user.is_teacher == True %}
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link{% if active == 'assignment' %} active{% endif %}" href="{% url 'assignment:list' %}{% if request.GET.query %}?query={{ request.GET.query }}{% endif %}">
					{% trans "Assignment" %}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link{% if active == 'draft' %} active{% endif %}" href="{% url 'assignment:draft_list' %}{% if request.GET.query %}?query={{ request.GET.query }}{% endif %}">
					{% trans "Draft" %}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link{% if active == 'all' %} active{% endif %}" href="{% url 'assignment:all_list' %}{% if request.GET.query %}?query={{ request.GET.query }}{% endif %}">
					{% trans "All assignment" %}
				</a>
			</li>
		</ul>
		{% elif request.user.is_student == True %}
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link{% if active == 'oldest' %} active{% endif %}" href="{% url 'assignment:old_list' %}{% if request.GET.query %}?query={{ request.GET.query }}{% endif %}">
					{% trans "Oldest" %}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link{% if active == 'newest' %} active{% endif %}" href="{% url 'assignment:new_list' %}{% if request.GET.query %}?query={{ request.GET.query }}{% endif %}">
					{% trans "Newest" %}
				</a>
			</li>
		</ul>
		{% endif %}
<div class="row">
	<div class="{% if search %}col-md-10 offset-md-1{% else %}col-md-9{% endif %}">
		{% include 'assignment/get_partial_assignments.html' with assignment=assignment %}

		{% include "includes/pagination.html" with extra=extra %}
	</div>
	{% if not search %}
		<div class="col-md-3">
			<div class="card my-4" style="overflow:auto">
				<h5 class="card-header">{% trans 'Assignments by tags' %}</h5>
				<div class="card-body">
					{% for tag, count in popular_tags %}
					<a href="{% url 'assignment:tag' tag %}"><span class="badge badge-info">{{ count }} {{ tag }}</span></a>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
</div>
{% endblock content %}