{% load humanize i18n static humanize %}
{% load thumbnail %}

	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th scope="col">Uploader</td>
				<th scope="col">Topic</td>
				<th scope="col">Upload time</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="{% url 'assignment:detail' assignment.slug assignment.pk %}">{{ assignment.uploader }}</a></td>
				<td>{{ assignment.topic }}</td>
				<td>{{ assignment.timestamp }}</td>
			</tr>
		</tbody>
	</table>