{% extends "polls/polls_base.html" %}

{% block head %}
<title>Polls Detail</title>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'polls:poll' %}">Polls</a></li>
<li class="breadcrumb-item active">{{ question.question_text }}</li>
{% endblock %}

{% block content %}
<div class="container mt-0 mb-0">
	<a class="btn btn-primary mb-3" href="{% url 'polls:results' question.pk %}">Results</a>
	<h1>{{ question.question_text }}</h1>

        <div {% if error_message %} class="alert alert-danger" role="alert"{% endif %}>{{ error_message }}</div>

	<form action="{% url 'polls:vote' question.id %}" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
	    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
	    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
	{% endfor %}
	<input type="submit" class="btn btn-success" value="Vote">
	</form>
</div>
{% endblock %}

