{% extends "base.html" %}

{% block head %}
<title>Polls</title>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Polls</li>
{% endblock %}

{% block content %}

	<div class="container mt-4 mb-4">
		{% if latest_question_list %}
		    
		    {% for question in latest_question_list %}
			<a class="btn btn-primary" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
		    {% endfor %}
		    
		{% else %}
		    <p>No polls are available.</p>
		{% endif %}	
	</div>
	
{% endblock %}

