{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container mb-5">
  <h1 class='text-center'>Welcome to Poll List!</h1>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

      <div class="row">
        <div class="col">
          <a href="{% url 'polls:add' %}" class="btn btn-primary" style="margin-bottom: 5px">{% trans "Add new Poll" %} <i class="fas fa-plus"></i> </a>
          <div class="dropdown row pull-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a
                  class="dropdown-item {% if 'text' in request.GET %}active{% else %}primary{% endif %}" href="?text=True"
                  class="btn btn-"
                  style="margin-bottom: 5px">Text
              </a>
              <a
                  class="dropdown-item {% if 'pub_date' in request.GET %}active{% else %}primary{% endif %}" href="?pub_date=True"
                  class="btn btn-"
                  style="margin-bottom: 5px">Publish date
              </a>
              <a
                  class="dropdown-item {% if 'num_votes' in request.GET %}active{% else %}primary{% endif %}" href="?num_votes=True"
                  class="btn btn-"
                  style="margin-bottom: 5px">Number of votes
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <form class="form-inline my-2 my-lg-1">
              <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  name='search'
                  value="{{search_term}}">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
      </div>
      <ul class="list-group">
        {% for poll in polls %}
        <li class="list-group-item">
          <a href="{% url 'polls:detail' poll.id %}">{{ poll.get_polls_as_markdown|capfirst|truncatechars:82 }}</a> - via <a href="{% url 'users:detail' poll.owner %}">{{ poll.owner }}</a>
          {% if request.user == poll.owner %}
            <a href="{% url 'polls:edit_poll' poll.id %}" class='float-right'><i class="fas fa-pencil-alt"></i></a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

      {% if polls.has_other_pages %}
        <nav aria-label="polls pagination" class=" mt-4 mb-4">
          <ul class="pagination justify-content-center">
            {% if polls.number > 1 %}
              <li class="page-item">
                <a class="page-link" href="?page=1&{{params}}">First</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">First</span>
              </li>
            {% endif %}

            {% if polls.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ polls.previous_page_number }}&{{params}}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {% endif %}

            {% for page_num in polls.paginator.page_range %}
              {% if polls.number == page_num %}
                <li class="page-item active">
                  <span class="page-link">
                    {{ page_num }}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
              {% elif page_num > polls.number|add:'-3' and page_num < polls.number|add:'3' %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_num }}&{{params}}">{{ page_num }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if polls.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ polls.next_page_number }}&{{params}}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            {% endif %}

            {% if polls.number != polls.paginator.num_pages %}
              <li class="page-item">
                <a class="page-link" href="?page={{ polls.paginator.num_pages }}&{{params}}">Last</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Last</span>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
