		<!-- Footer -->
	<section id="footer" class="footer navbar-fixed-bottom">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				{% if user.is_authenticated %}
					<div class="col-xs-12 col-sm-4 col-md-4">
						<h5>Quick links</h5>
						<ul class="list-unstyled quick-links">
							<li><a href="{% url 'main:home' %}"><i class="fa fa-angle-double-right"></i>Home</a></li>

							<li><a href="{% url 'account:profile' request.user.username %}"><i class="fa fa-angle-double-right"></i>Profile</a></li>

							<li><a href="{% url 'account:change_password' %}"><i class="fa fa-angle-double-right"></i>Change Password</a></li>

						</ul>
					</div>
				{% else %}
					<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="{% url 'main:home' %}"><i class="fa fa-angle-double-right"></i>Home</a></li>

						<li><a href="{% url 'account:register' %}"><i class="fa fa-angle-double-right"></i>Sign-Up</a></li>

						<li><a href="{% url 'account:login' %}"><i class="fa fa-angle-double-right"></i>Login</a></li>

						<li><a href="{% url 'account:password_reset' %}"><i class="fa fa-angle-double-right"></i>Reset Password</a></li>
						<!-- <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li> -->
					</ul>
					</div>
				{% endif %}

					<div class="col-xs-12 col-sm-4 col-md-4">
						<h5>Quick links</h5>
						<ul class="list-unstyled quick-links">
							<li><a href="{% url 'main:contact_us' %}"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>

							<li><a href="{% url 'main:privacy_policy' %}"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>

							<li><a href="{% url 'main:term_and_conditions' %}"><i class="fa fa-angle-double-right"></i>Terms and Conditions</a></li>
						</ul>
					</div>
					<!-- <div class="col-xs-12 col-sm-4 col-md-4">
						<h5>Sign-Up For Our Newsletter</h5>
						<div class="container">
							<form method="POST" novalidate>
								{% csrf_token %}
								{% include 'includes/form.html' %}
								<button type="submit" class="btn btn-success">Submit</button>
							</form> 
						</div>
					</div> -->
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/shekhar.nunia.7"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/ShekharNunia"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/shekhar.6/"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="far fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="">Puzzles</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
