{% url 'polls:list' as polls %}
{% url 'blog:list' as blog %}
{% url 'assignment:list' as t_assignment %}
{% url 'assignment:new_list' as s_assignment %}
{% url 'users:list' as users %}
{% url 'qa:index_noans' as qa %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as register_url %}

{% load static i18n thumbnail %}
<div class="m-b-1 mt-4">
    {% if request.user.is_authenticated %}
      <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><img height="60" src="{% static "img/puzzles-logo.png" %}" alt="Puzzles"></a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if request.path == polls %}active{% endif %}"><a class="nav-link" href="{{ polls }}">{% trans 'Poll' %} <span class="sr-only">(current)</span></a></li>
              <li class="nav-item {% if request.path == blog %}active{% endif %}"><a class="nav-link" href="{{ blog }}">{% trans 'Blog' %}</a></li>
              <li class="nav-item {% if nbar == 'qa_nav' %}active{% endif %}"><a class="nav-link" href="{{ qa }}">{% trans 'Q&A' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'Newsletter:newsletter_signup' %}">{% trans 'Newsletter' %}</a></li>
              {% if request.user.is_teacher == True %}
                <li class="nav-item {% if nbar == 't_assignment_nav' %}active{% endif %}"><a class="nav-link" href="{{ t_assignment }}">{% trans 'Assignments' %}</a></li>
                <li class="nav-item {% if request.path == users %}active{% endif %}"><a class="nav-link" href="{{ users }}">{% trans 'Users' %}</a></li>
              {% elif request.user.is_student == True %}
                <li class="nav-item {% if nbar == 't_assignment_nav' %}active{% endif %}"><a class="nav-link" href="{{ s_assignment }}">{% trans 'Assignments' %}</a></li>
                <li class="nav-item {% if request.path == users %}active{% endif %}"><a class="nav-link" href="{{ users }}">{% trans 'Users' %}</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% thumbnail request.user.picture "x30" as im %}
                    <img src="{{ im.url }}" style="border-radius: 50%;" alt="{% trans 'User Image' %}" class="user-image">
                  {% empty %}
                    <img src="{% static 'img/user.png' %}" height="30px" alt="{% trans 'No Profile Picture' %}" />
                  {% endthumbnail %}
                  {{ request.user.username|title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}"><i class="far fa-user fa-fw" aria-hidden="true"></i>&nbsp; {% trans 'Profile' %}</a>
                  <a class="dropdown-item" href="{% url 'users:update'  %}"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp; {% trans 'Profile Settings' %}</a>
                  <a class="dropdown-item" href="{% url 'contact_form' %}"><i class="fas fa-envelope" aria-hidden="true"></i> &nbsp; {% trans "Contact us" %}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; {% trans "Log Out" %}</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% else %}
      <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><img height="60" src="{% static "img/puzzles-logo.png" %}" alt="Puzzles"></a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="{{ polls }}">{% trans 'Poll' %} <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="{{ blog }}">{% trans 'Blog' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ qa }}">{% trans 'Q&A' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'Newsletter:newsletter_signup' %}">{% trans 'Newsletter' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'assignment:list' %}">{% trans 'Assignments' %}</a></li>
              <li class="nav-item {% if request.path == users %}active{% endif %}"><a class="nav-link" href="{{ users }}">{% trans 'Users' %}</a></li>
            </ul>
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href="{{ register_url }}"><i class="fas fa-user-plus"> {% trans "Sign-Up" %}</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ login_url }}"><i class="fas fa-user"> {% trans "Log-In" %}</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_reset_password' %}">{% trans "Reset Password" %}</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="{% url 'contact_form' %}"><i class="fas fa-envelope" aria-hidden="true"></i> &nbsp; {% trans "Contact us" %}</a>
              </li>
            </ul>                
          </div>
        </div>
      </nav>
    {% endif %}
</div>