{% extends 'blog/base.html' %}

{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock stylesheet %}

{% block content %}
    <h1>New comment</h1>
    <form method="POST" class="post-form" novalidate>{% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="save btn btn-success">Save</button>
    </form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/simplemde.min.js' %}"></script>
<!--<script>
	var simplemde = new SimpleMDE();
</script>--> 
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("id_text") });
</script>
{% endblock %}
