{% extends 'qa_base.html' %}
{% load static i18n %}
{% load crispy_forms_tags humanize %}

{% block title %}{{ article.title|title }}{% endblock %}


{% block modal %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">

    <script src="{% static 'js/comments.js' %}"></script>
    <style>
      .pull-right i.fa {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.6em;

      }
    </style>
    <script type="text/javascript">
      $(document).on('click', '#like', function(event){
          event.preventDefault();
          var pk = $(this).attr('value');
          $.ajax({
            type: 'POST',
            url: '{% url "blog:like_post" %}',
            data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function(response){
              $('#like-section').html(response['form'])
              console.log($('#like-section').html(response['form']));
            },
            error: function(rs, e){
              console.log(rs.responseText);
            },
          });
        });
    </script>
{% endblock %}

{% block content %}

  <!-- breadcrumb Content -->
<div class="container">
	<ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="#">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog:list' %}">{% trans 'Articles' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ article.title|title }}</li>
      	</ol>
</div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">

          <div class="card mb-4">
            <div class="card-header text-center">
              <h2 class="card-title">{{ article.categories|title }}</h2>
              <hr>
              <h2 class="card-title">{{ article.title|title }}</h2>
              <div class="text-muted text-center mt-4 mb-2">
                <i class="fa fa-calendar ml-3 mr-2"></i>{{ article.timestamp|date:"M d, Y" }}
                <i class="lead fa fa-user ml-3 mr-1"></i>
                <a href="{% url 'users:detail' article.user.username %}"> {{ article.user|title }}</a>
                <i class="fa fa-clock-o ml-3 mr-2"></i>{{ article.get_readtime }}
                <i class="fas fa-comments ml-3 mr-2"></i><span class="comment-count">{{ user_comments.count }}</span> {% trans 'comments' %}
                <i class="far fa-eye ml-3 mr-2"></i>{% trans 'views' %}
                {{ article.views }}
              </div>
            </div>
        {% if article.thumbnail %}
          <img src="{{ article.thumbnail.url }}" alt="{% trans 'Thumbnail Image' %}" class="card-img-top img-thumbnail">
        {% else %}
          <img class="img-fluid rounded" src="{% static 'img/avatar.svg' %}" alt="Card Image">
        {% endif %}
        <!-- <img src="{{ MEDIA_URL }}{{ article.image }}" lt="{% trans 'Featured Image' %}" class="card-img-top"> -->
              <div class="card-body mt-2 mb-2">
                <p class="card-text">{{ article.get_message_as_markdown|safe }}</p><hr>
                <p>
                <div id="like-section">
                  {% include 'blog/like_section.html' with total_likes=article.likes.count %}  
                </div>
                </p>
              </div>
            <div class="card-footer text-muted">
              {% for tag in article.tags.names %}
                <a href="{% url 'blog:tag' tag %}" class="ml-2"><span class="badge badge-info">{{ tag }}</span></a>
              {% endfor %}
              <div class="pull-right">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&source={{ request.build_absolute_uri }}" target="_blank" title="Share on Linkedin"><i class="ml-2 fa fa-linkedin"></i></a>

                <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}" target="_blank" title="Share on Reddit"><i class="ml-2 fa fa-reddit"></i></a>

                <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}' target="_blank" title="Share on Google+"><i class="ml-2 fa fa-google-plus"></i></a>

                <a href="https://twitter.com/home?status={{ request.build_absolute_uri }}" target="_blank" title="Share on Twitter"><i class="ml-2 fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" title="Share on Facebook">
                <i class="ml-2 fa fa-facebook"></i></a>
              </div>
            </div>
          </div>
      
		 <!-- Comments Form -->
    {% if not article.allow_comments and article.user == request.user %}
      <hr>
      <h4>Right now comments are disabled</h4>
    {% endif %}
    {% if comment_show %}
      {% include 'blog/partial_article_comments.html' with article=article %}
    {% else %}
      <hr>
      <h3>{% trans "Comments" %}</h3>
      <p class="text-center">{% blocktrans %}<i class="fas fa-comment-slash"></i> Comments are disabled on this post{% endblocktrans %}</p>
    {% endif %}
      </div>



      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Write Article Widget -->
        {% if request.user == article.user %}
          <div class="card my-4">
            <div class="card-body text-center">
              <a class="btn btn-success" href="{% url 'blog:write_new' %}" title="{% trans 'Write a new article' %}"><i class="fa fa-pencil" aria-hidden="true"></i> {% trans 'New Article' %}</a>
              <a class="btn btn-primary" href="{% url 'blog:edit_article' article.id %}" title="{% trans 'Edit this article' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Edit' %}</a>
              <a class="btn btn-danger mt-2" href="{% url 'blog:delete_article' article.id %}" title="{% trans 'Delete this article' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Delete' %}</a>
            </div>
          </div>
        {% endif %}

        <!-- Categories -->
        <div class="card">
          <h5 class="card-header"><a href="{% url 'blog:category_list' %}">{% trans 'Categories' %}</a></h5>
          <div class="card-body">
            <table class="table table-striped">
              <tbody>
              {% for category in categories %}
                <tr>
                  <td>
                    <div class="d-flex justify-content-between"><a href="{{ category.get_absolute_url }}">{{ category }}</a>{{ category.get_articles.count }}</div>
                  </td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Popular posts -->
        <div class="card">
          <h5 class="card-header"><a href="{% url 'blog:category_list' %}">{% trans 'Popular Posts' %}</a></h5>
          <div class="card-body">
              {% for pop in popular %}
                {% if pop.thumbnail %}
                  <img src="{{ pop.thumbnail.url }}" alt="{% trans 'Thumbnail Image' %}" class="card-img-top mb-2">
                {% else %}
                  <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                {% endif %}
                <div class="d-flex justify-content-between"><a href="{{ pop.get_absolute_url }}">{{ pop }}</a></div>
                {% if not forloop.last %}
                  <hr>
                {% endif %}
            {% endfor %}
          </div>
        </div>
        
        <!-- Cloud Tag Widget -->
        <div class="card my-4">
          <h5 class="card-header">{% trans 'Cloud tag' %}</h5>
          <div class="card-body">
            {% for tag in article.tags.all %}
              <a href="{% url 'blog:tag' tag %}"><span class="badge badge-info">{{ tag }}</span></a>
            {% endfor %}
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock content %}
