{% extends 'qa_base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="#">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'blog:drafts' %}">{% trans 'Drafts' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Update an article' %}</li>
    </ol>
</div>


<div class="container mb-4">
  <form action="{% url 'blog:edit_article' form.instance.pk %}" enctype="multipart/form-data"  id="article-form" method="post" role="form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
      <button type="button" class="btn btn-primary update">{% trans 'Update' %}</button>
      <button type="button" class="btn btn-default draft">{% trans 'Save as draft' %}</button>
      <a href="{% url 'blog:drafts' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>
  {{ form.media }}
</div>
{% endblock content %}

{% block modal %}
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock modal %}
