{% extends 'qa_base.html' %}
{% load static 	i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Write Article' %}{% endblock %}
{% block head %}
  <style>
    .wmd-panel{
        width: 65% !important; 
    }
  </style>
{% endblock head %}

{% block content %}
<div class="container mb-4">
  <form action="{% url 'blog:write_new' %}" enctype="multipart/form-data"  id="article-form" method="POST" role="form">
    {% csrf_token %}
    {{ form|crispy }}
    {{ form.media }}
    <div class="form-group">
      <button type="button" class="btn btn-primary publish">{% trans 'Publish' %}</button>
      <button type="button" class="btn btn-default draft">{% trans 'Save as draft' %}</button>
      <a href="{% url 'blog:list' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>
  
</div>
{% endblock content %}

{% block modal %}
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock modal %}
