{% extends 'qa_base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}{{ article.title|title }}{% endblock %}


{% block modal %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">

    <script src="{% static 'js/comments.js' %}"></script>
{% endblock %}

{% block content %}

  <!-- breadcrumb Content -->
<div class="container">
	<ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="#">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog:list' %}">{% trans 'Articles' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ article.title|title }}</li>
      	</ol>
</div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">

          <div class="card mb-4">
            <div class="card-header text-center">
              <h2 class="card-title">{{ article.title|title }}</h2>
              <div class="text-muted text-center mt-4 mb-2">
                <i class="fa fa-calendar ml-3 mr-2"></i>{{ article.timestamp|date:"M d, Y" }}
                <i class="lead fa fa-user ml-3 mr-1"></i>
                <a href="{% url 'account:profile' article.user.username %}"> {{ article.user|title }}</a>
                <i class="fa fa-clock-o ml-3 mr-2"></i>{{ article.get_readtime }}
                <i class="fas fa-comments ml-3 mr-2"></i>{{ article.get_comments.count }} {% trans 'comments' %}
                <i class="far fa-eye ml-3 mr-2"></i>{% trans 'views' %}
                {{ article.views }}
              </div>
            </div>
        {% thumbnail article.thumbnail "900x300" as im %}
          <img src="{{ im.url }}" alt="{% trans 'Thumbnail Image' %}" class="card-img-top">
        {% empty %}
          <img class="img-fluid rounded" src="{% static 'img/avatar.svg' %}" alt="Card Image">
        {% endthumbnail %}
        <!-- <img src="{{ MEDIA_URL }}{{ article.image }}" lt="{% trans 'Featured Image' %}" class="card-img-top"> -->
            <div class="card-body mt-2 mb-2">
              <p class="card-text">{{ article.content|safe }}</p><hr>
              <p class="card-text">{{ article.content_image|safe }}</p>
            </div>
            <div class="card-footer text-muted">
              {% for tag in article.tags.names %}
                <a href="{% url 'blog:tag' tag %}" class="ml-2"><span class="badge badge-info">{{ tag }}</span></a>
              {% endfor %}
            </div>
          </div>
      
		 <!-- Comments Form -->
  {% include 'blog/partial_article_comments.html' with article=article %}
      </div>



      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Write Article Widget -->
        {% if request.user.is_authenticated %}
          <div class="card my-4">
            <div class="card-body text-center">
              <a class="btn btn-success" href="{% url 'blog:write_new' %}" title="{% trans 'Write a new article' %}"><i class="fa fa-pencil" aria-hidden="true"></i> {% trans 'New Article' %}</a>
              {% if request.user == article.user %}
              <a class="btn btn-primary" href="{% url 'blog:edit_article' article.id %}" title="{% trans 'Edit this article' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Edit' %}</a>
              <a class="btn btn-danger mt-2" href="{% url 'blog:delete_article' article.id %}" title="{% trans 'Delete this article' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Delete' %}</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <!-- Cloud Tag Widget -->
        <div class="card my-4">
          <h5 class="card-header">{% trans 'Cloud tag' %}</h5>
          <div class="card-body">
            {% for tag in article.tags.all %}
              <a href="{% url 'blog:tag' tag %}"><span class="badge badge-info">{{ tag }}</span></a>
            {% endfor %}
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock content %}
