{% extends 'blog/base.html' %}
{% load humanize %}
{% block content %}
    {% for post in posts %}
        <div class="post mt-4">
            <div class="date">
                {{ post.published_date|naturaltime }}
            </div>
            <h2><a href="{% url 'blog:post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h1></h2>
            <p>{{ post.description|linebreaksbr }}</p>
<!--            {% if post.comments.approved_comments.count %}
            <a href="{% url 'blog:post_detail' pk=post.pk slug=post.slug %}#comment_id">Comments: {{ post.comments.count }}</a>
            {% else %}
            <a href="{% url 'blog:post_detail' pk=post.pk slug=post.slug %}#comment_id">Join the Discussion</a>
            {% endif %}-->
        </div><hr>
    {% endfor %}
{% endblock %}
