{% extends "qa_base.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}
Update info
{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
	    <h1>{% trans 'Account Settings' %}</h1>
	</div>
	<div class="row">
	    <div class="col-md-3">
	      {% include 'account/partial_settings_menu.html' with active='profile' %}
	    </div>
	    <div class="col-md-9">
			{% if messages %}
				{% for message in messages %}
				  <div class="alert alert-success alert-dismissable">
				    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				    {{ message }}
				  </div>
				{% endfor %}
			{% endif %}

			<div class="col s12 m8 offset-m2">
				<h2 class="flow-text">Update your information</h2>
				<form action="." method="POST" class="padding" enctype="multipart/form-data">
					{% csrf_token %}
					{% include 'includes/form.html' %}
					<div class="divider"></div>
					{{ formset.management_form|crispy }}
					{{ formset|crispy }}
					<br>
					<button type="submit" class="btn-floating btn-primary btn-large waves-light waves-effect"><i class="large material-icons">Save</i></button>
					<a href="#" onclick="window.history.back(); return false;" title="Cancel" class="btn-floating waves-effect waves-light red"><i class="material-icons">Back</i></a>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

