{% extends 'base.html' %}

{% block head %}
<title>Change Password</title>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'main:home' %}">Home</a></li>
    <li class="breadcrumb-item active">Change Password</li>
{% endblock breadcrumb %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-10">
			<form method="post" novalidate>
				{% csrf_token %}
				{% include 'includes/form.html' %}
				<button type="submit" class="btn btn-outline-success">Change password</button>
			</form>
			<br>
		</div>
	</div>
</div>
{% endblock %}