{% extends 'base_account.html' %}

{% load material_form %}

{% block head %}
	Register
{% endblock head %}


{% block stylesheet %}
	{% include 'material/includes/material_css.html' %}
{% endblock stylesheet %}
	
	
{% block content %}
	<div class="container">
		<div class="row justify-content-center">
	      <div class="col-lg-8 col-md-10 col-sm-12">
	        <div class="card">
	          <div class="card-body">
	    		<h3 class="card-title">Sign up</h3>
					<form method="post" novalidate>
				        {% csrf_token %}
				        {% include 'includes/form.html' %}
				        <button type="submit" class="btn btn-outline-primary btn-block">Create an account</button>
				    </form>
				    </div>
	          <div class="card-footer text-muted text-center">
	            Already have an account? <a href="{% url 'account:login' %}">Log in</a>
	          </div>
			  <div class="card-footer text-muted text-center">
              	<a href="{% url 'account:password_reset' %}">Reset Password</a>
              </div>
	        </div>
	      </div>
	    </div>
	</div>
{% endblock content %}

{% block javascript %}
	{% include 'material/includes/material_js.html' %}
{% endblock %}
