{% extends 'base_account.html' %}

{% block head %}
<title>Reset Password</title>
{% endblock head %}

{% block stylesheet %}
{% load static %}
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}



{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-8 col-sm-10">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Password Reset</h3>
					<p>
						Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
					</p>
					<form method="post" novalidate>
						{% csrf_token %}
						<input type="hidden" name="next" value="{{ next }}">
						{% include 'includes/form.html' %}
						<button type="submit" class="btn btn-outline-primary btn-block">Send Password Reset Email</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
