
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	
	<!-- This will be use to use extra css file for some specific page -->

	{% block head %}
		<title>PUZZLES</title>
	{% endblock head %}
	
	{% block stylesheet %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	{% endblock stylesheet %}

</head>

<body style="padding-top: 57px;">
{% block body %}
	<div class="container-fluid">
		<!-- Navbar -->
		{% include 'includes/navbar.html' %}

		<div class="container">
			<ol class="breadcrumb my-4">
	        	{% block breadcrumb %}
	        	{% endblock %}
	      	</ol>
		</div>
		
		<div class="container">		
			{% if messages %}
			    {% for message in messages %}
			    <div {% if message.tags %} class="alert alert-{{ message.tags }}" role="alert"{% endif %}>{{ message }}</div>
			    {% endfor %}

			{% endif %}
		</div>
			{% block content %}
			{% endblock content %}
			
				<!-- <a class="btn btn-primary pull-right" href="#top" style="position: fixed; margin-top: 25%; ">Top</i></a>
				 -->
		<a id="back2Top" title="Back to top" href="#top">&#10148;</a>


		{% include 'includes/footer.html' %}
	</div>
	
{% endblock body %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
	$(window).scroll(function() {
	    var height = $(window).scrollTop();
	    if (height > 100) {
	        $('#back2Top').fadeIn();
	    } else {
	        $('#back2Top').fadeOut();
	    }
	});
	$(document).ready(function() {
	    $("#back2Top").click(function(event) {
	        event.preventDefault();
	        $("html, body").animate({ scrollTop: 0 }, "slow");
	        return false;
	    });

	});
</script>
{% block javascript %}{% endblock %}
</body>
</html>
