{% extends "qa_base.html" %}

{% load static %}

{% block head %}
  <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'control_panel:control_newsletter_list' %}">
              Newsletter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'control_panel:control_newsletter' %}">
              New Newsletter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'control_panel:control_newsletter_list' %}">
              Newsletter List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Newsletter:newsletter_subscriber_list' %}">
              Newsletter Subscriber List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Newsletter:newsletter_signup' %}">
              Newsletter Signup
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Newsletter:newsletter_unsubscribe' %}">
              Newsletter Unsubscribe
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'qa:index_noans' %}">
              Q&A
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:list' %}">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'polls:list' %}">
              Polls
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">
              Admin
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        {% include "includes/messages.html" %}

        {% block content %}
        {% endblock %}
      </div>
    </main>
    </div>
{% endblock %}