{% extends "base.html" %}

{% block head %}
<title>Contact Us</title>
{% endblock %}

<!-- 
{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock stylesheet %}
-->

{% block breadcrumb %}
	<li class="breadcrumb-item active"><a href="{% url 'main:home' %}">Home</a></li>
	<li class="breadcrumb-item active">Contact US</li>
{% endblock %}

{% block content %}

	<div class="container"  style="margin-top: 30px;">
		<form method="POST" novalidate>
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<button type="submit" class="btn btn-success">Submit</button>
		</form> 
		<br><div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>
	</div>
	
{% endblock %}

<!-- 
{% block javascript %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<!-- <script>
	var simplemde = new SimpleMDE();
</script> 
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("id_message") });
</script>
{% endblock %}-->
