{% extends "base.html" %}

{% block head %}
Contact Us
{% endblock %}

<!-- 
{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock stylesheet %}
-->

{% block breadcrumb %}
	<li class="breadcrumb-item active"><a href="{% url 'main:home' %}">Home</a></li>
	<li class="breadcrumb-item active">Contact US</li>
{% endblock %}

{% block content %}

	<div class="container"  style="margin-top: 30px;">
		<form method="POST" novalidate>
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<button type="submit" class="btn btn-success">Submit</button>
		</form> 
		<br>
	</div>
	
{% endblock %}

<!-- 
{% block javascript %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<!-- <script>
	var simplemde = new SimpleMDE();
</script> 
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("id_message") });
</script>
{% endblock %}-->
