{% extends "base.html" %}

{% block head %}
	<title>edit</title>
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock stylesheet %}

{% block breadcrumb %}
	<li class="breadcrumb-item active"><a href="{% url 'main:home' %}">Home</a></li>
	<li class="breadcrumb-item active"><a href="{{ question.get_absolute_url }}">{{ question.topic }}</a></li>
	<li class="breadcrumb-item active">Edit Question</li>
{% endblock %}

{% block content %}
<br>
<div class="container">
	<h1>Edit Page</h1>
	<br>
	<h3>Topic: {{ question.get_topic_as_markdown }}</h3>
	<form method="POST">
		{% csrf_token %}
		{% include 'includes/form.html' %}
		<button class="btn btn-primary btn-outline-primary" type="submit">Save changes</button>
		<a class="btn btn-outline-secondary" href="{{ question.get_absolute_url }}">Cancel</a>
	</form>
</div><br><br>	
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
	var simplemde = new SimpleMDE();
</script>
{% endblock %}
