{% extends "base.html" %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block head %}
	<title>PUZZLES</title>
{% endblock head %}

{% block breadcrumb %}
	<li class="breadcrumb-item active">PUZZLES</li>
{% endblock %}
	

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
				<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
			</form>		
			<br>
			{% for question in questions %}
			<div class="container border border-dark" >
				<br>
				<h3 class="selectable" style="overflow-wrap: break-word;"><a href="{{ question.get_absolute_url }}" target="_blank">{{ question.get_topic_as_markdown|capfirst|linebreaks }}</a></h3>
				<hr>
				<div class="container">
					<blockquote class="blockquote selectable" style="overflow-wrap: break-word;">
						<p class="mb-0"> <p>{{ question.get_question_as_markdown|capfirst|linebreaks|truncatewords:20 }}</p></p>
					</blockquote>
					<blockquote class="blockquote text-right">
						<footer class="blockquote-footer">
							<cite title="Source Title">
								<a href="#" target="_blank">{{ question.created_by|title }}</a><br>



								<p>Upload : {{ question.created_at|naturaltime }}</p>
                                                                {{ question.answers.count }} Answer{{ question.answers.count|pluralize }} <br>
							</cite>
						</footer>
					</blockquote>
				</div>
			</div><br>
			{% endfor %}

			{% if questions.has_other_pages %}
                        <nav aria-label="Topics pagination" class="mb-4">
                            <ul class="pagination">
                              {% if questions.number > 1 %}
                                <li class="page-item">
                                  <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">First</a>
                                </li>
                              {% else %}
                                <li class="page-item disabled">
                                  <span class="page-link">First</span>
                                </li>
                              {% endif %}
                        
                              {% if questions.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ questions.previous_page_number }}{% if request.GET.q %} &q={{ request.GET.q }}{% endif %}">Previous</a>
                                </li>
                              {% else %}
                                <li class="page-item disabled">
                                  <span class="page-link">Previous</span>
                                </li>
                              {% endif %}
                        
                              {% for page_num in questions.paginator.page_range %}
                                {% if questions.number == page_num %}
                                  <li class="page-item active">
                                    <span class="page-link">
                                      {{ page_num }}
                                      <span class="sr-only">(current)</span>
                                    </span>
                                  </li>
                                {% elif page_num > questions.number|add:'-3' and page_num < questions.number|add:'3' %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ page_num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_num }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}

                              {% if questions.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ question.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
                                </li>
                              {% else %}
                                <li class="page-item disabled">
                                  <span class="page-link">Next</span>
                                </li>
                              {% endif %}
                        
                              {% if questions.number != questions.paginator.num_pages %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ questions.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Last</a>
                                </li>
                              {% else %}
                                <li class="page-item disabled">
                                  <span class="page-link">Last</span>
                                </li>
                              {% endif %}
                            </ul>
                          </nav>
                        {% endif %}

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8" id="id_newsletter">
					<div class="card"  style="background:#3C3C45; color:white;">
					  <div class="card-body">

						<h5>Sign-Up For Our Newsletter</h5>
						<div class="container">
							<form method="POST" novalidate>
								{% csrf_token %}
								{% include 'includes/form.html' %}
								<button type="submit" class="btn btn-secondary">Submit</button>
							</form> 
						</div>
					  </div>
					</div>
				</div>
			</div>
			<br>
		</div>
		<div class="col-sm-2">
			<a class="btn btn-outline-secondary position-sticky" role="button" href="{% url 'main:ask_question' %}">Ask Your Questions</a>

		</div>
	</div>
</div>
{% endblock content %}

{% block javascript %}<script id="dsq-count-scr" src="//http-127-0-0-1-8000-gv7aevam3r.disqus.com/count.js" async></script>{% endblock %}


