{% extends 'qa_base.html' %}
{% load i18n static crispy_forms_tags %}

{% block title %}{% trans 'Update Answer' %}{% endblock %}

{% block head %}
  <style>
    .wmd-panel{
        width: 80% !important; 
    }
  </style>
{% endblock head %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'qa:index_all' %}">{% trans 'Q&A' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Answer a question' %}</li>
    </ol>
  </nav>
  <form id="answerForm" method="post" role="form">
    {% csrf_token %}
    {{ form|crispy }}
    {{ form.media }}
    <div class="form-group">
      <button id="answer" type="submit" class="btn btn-primary">{% trans 'Answer' %}</button>
      <a href="{% url 'qa:index_all' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>

{% endblock content %}