{% load i18n humanize thumbnail static %}

<div class="row answer" answer-id="{{ answer.uuid_id }}">
  {% csrf_token %}
  <div class="col-md-1 options">
    <i class="fa fa-chevron-up vote up-vote answer-vote {% if request.user in answer.get_upvoters %}voted{% endif %}" aria-hidden="true" title="{% trans 'Click to up vote; click again to toggle' %}"></i>
    <span id="answerVotes" class="votes">{{ answer.total_votes }}</span>
    <i class="fa fa-chevron-down vote down-vote answer-vote {% if request.user in answer.get_downvoters %}voted{% endif %}" aria-hidden="true" title="{% trans 'Click to down vote; click again to toggle' %}"></i>
    {% if answer.is_answer and user == question.user %}
      <i id="acceptAnswer" class="fa fa-check accept accepted" aria-hidden="true" title="{% trans 'Click to unaccept the answer' %}"></i>
    {% elif answer.is_answer %}
      <i id="acceptAnswer" class="fa fa-check accept accepted" aria-hidden="true" style="cursor: default"></i>
    {% elif user == question.user %}
      <i id="acceptAnswer" class="fa fa-check accept" aria-hidden="true" title="{% trans 'Click to accept the answer' %}"></i>
    {% endif %}
  </div>
  <div class="col-md-11">
    <div class="answer-user">
      {% thumbnail answer.user.user.image "x30" as im %}
        <img src="{{ im.url }}" style="border-radius: 50%;"  alt="{% trans 'User Image' %}" class="user user-image">
      {% empty %}
        <img src="{% static 'img/user.png' %}" height="30px" alt="{% trans 'No Profile Picture' %}" />
      {% endthumbnail %}
      <a href="{% url 'users:detail' answer.user.username  %}" class="username">{{ answer.user.username }}</a>
      <small class="answered">{% trans "answered" %} {{ answer.timestamp|naturaltime }}</small>
    </div>
    <div class="answer-description">
      {{ answer.get_markdown|safe }}
      <div class="question-user pull-right">
          <div class="card">
            <small><span class="text-secondary">{% trans 'asked' %} {{ answer.timestamp|date:"M d 'y" }} {% trans 'at ' %}{{ answer.timestamp|date:"G:i" }}</span></small>
            <div class="media">
              {% if answer.user.user.image %}
              <img src="{{ answer.user.user.image.url }}" class="mr-2 comment-portrait">
              {% else %}
              <img src="{% static 'img/user.png' %}" class="mr-2" height="30" alt="{% trans 'No Profile Picture' %}" />  
              {% endif %}
              <div class="media-body">
                <h5 class="mt-0"><a href="{% url 'users:detail' answer.user.username  %}">{{ answer.user.username|title }}</a></h5>
              </div>
            </div>
          </div>
        </div>
        <p>
          {% if request.user == answer.user %}
            <a href="{% url 'qa:edit_answer' pk=question.pk answer_id=answer.uuid_id %}"><small class="text-muted">edit</small></a>
            <a href="{% url 'qa:delete_answer' pk=question.pk answer_id=answer.uuid_id %}"><small class="text-muted">delete</small></a>            
          {% endif %}
            <a href=""><small class="text-muted">flag</small></a>
            <a href="#"><small class="text-muted">close</small></a>
        </p>
    </div>
  </div>
</div>
<hr>
