{% extends 'qa_base.html' %}
{% load i18n crispy_forms_tags static %}

{% block title %}{% trans 'Answer a question' %}{% endblock %}

{% block head %}
  {{ form.media}}
  <style>
    .wmd-panel{
        width: 85% !important; 
    }
  </style>
{% endblock head %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'qa:index_all' %}">{% trans 'Q&A' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Answer a question' %}</li>
    </ol>
  </nav>
  <form action="{% url 'qa:propose_answer' view.kwargs.question_id %}" id="answerForm" method="post" role="form" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
      <button id="answer" type="submit" class="btn btn-primary">{% trans 'Answer' %}</button>
      <a href="{% url 'qa:index_all' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>

{% endblock content %}

{% block modal %}
  <script src="{% static 'js/qa.js' %}"></script>
{% endblock modal %}
