{% load humanize i18n static humanize %}
{% load thumbnail %}
<div class="card questions">
  <div class="card-body">
    <div class="question-info pull-left text-center">
      <div class="{% if question.has_answer %}bg-success text-white{% endif %} answer-size">
        <h4>{{ question.count_answers }}</h4>
        <small style="font-size: 12px;">{% trans 'answers' %}</small>
      </div>
      <h3>{{ question.total_votes }}</h3>
      <small class="text-secondary answer-size">{% trans 'Votes' %}</small>
    </div>
    <div>
      <h4 class="card-title">
        <a href="{% url 'qa:question_detail' question.pk question.slug %}">{% if question.status == 'C' %}
        {{ '[CLOSED]' }}     
        {% endif %}{{ question.title }}</a>
      </h4>
      <p>{{ question.get_markdown|safe|truncatechars:100 }}</p>
      <div class="question-user pull-right">
          <div class="card">
            <small><span class="text-secondary">{% trans 'asked' %} {{ question.timestamp|date:"M d 'y" }} {% trans 'at ' %}{{ question.timestamp|date:"G:i" }}</span></small>
            <div class="media">
              {% if question.user.user.image %}
              <img src="{{ question.user.user.image.url }}" class="mr-2 comment-portrait">
              {% else %}
              <img src="{% static 'img/user.png' %}" class="mr-2" height="30" alt="{% trans 'No Profile Picture' %}" />  
              {% endif %}
              <div class="media-body">
                <h5 class="mt-0"><a href="{% url 'users:detail' question.user.username  %}">{{ question.user.username|title }}</a></h5>
              </div>
            </div>
          </div>
      </div>
      {% if question.tags.names %}
        <p style="inline position: absolute; bottom: 0;">
          {% for tag in question.tags.names %}
            <a href="{% url 'qa:tag' tag %}"><span class="badge badge-primary">{{ tag }}</span></a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
</div>