{% extends 'qa_base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Close question' %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock head %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'qa:index_all' %}">{% trans 'Q&A' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Close this question' %}</li>
    </ol>
  </nav>
  <form action="{% url 'qa:question_close' question.pk %}" enctype="multipart/form-data"  id="question-form" method="post" role="form">
    {% csrf_token %}
    <h1>{% if question.status == 'C' %}
        {{ '[CLOSED]' }}     
        {% endif %}{{ question.title }}</h1>
        {{ form|crispy }}
    <div class="form-group">
      <button id="close" type submit type="button" class="btn btn-primary">{% trans 'Close this question' %}</button>
      <a href="{% url 'qa:question_detail' question.pk %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>
  {{ form.media }}

{% endblock content %}

{% block modal %}
  <script src="{% static 'js/qa.js' %}"></script>
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE({ element: document.getElementById("id_content") });
  </script>
{% endblock modal %}
