{% extends "qa_base.html" %}

{% block title %}
	Delete question
{% endblock %}

{% block content %}
<br>
<div class="container">
	<h1>Delete Question</h1>
	<br>
	<h4>Topic: {{ question.title }}</h4><br>
	<form method="POST">
		{% csrf_token %}
		<h2>Are you sure you want to delete the post</h2><br>
		<button class="btn btn-outline-danger mr-2" type="submit">Yes, Delete</button>
		<a class="btn btn-outline-secondary" href="{% url 'qa:question_detail' question.pk %}">Cancel</a>
	</form>
</div><br><br>	
{% endblock %}
