{% extends 'qa_base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Close question' %}{% endblock %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'qa:index_all' %}">{% trans 'Q&A' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Close this question' %}</li>
    </ol>
  </nav>
  <form action="{% url 'qa:question_close' question.pk question.slug %}" enctype="multipart/form-data"  id="question-form" method="post" role="form" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-md-10">
        <h1>{{ question.title }}</h1>
        <p>{{ question.content }}</p>
        {{ form|crispy }}
      </div>
    </div>  
    <div class="form-group">
      <button id="close" type submit type="button" class="btn btn-primary">{% trans 'Close this question' %}</button>
      <a href="{% url 'qa:question_detail' question.pk question.slug %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>
  {{ form.media }}

{% endblock content %}

{% block modal %}
  <script src="{% static 'js/qa.js' %}"></script>
{% endblock modal %}
