{% extends 'qa_base.html' %}
{% load static i18n %}

{% block title %}{% trans "Questions" %}{% endblock %}

{% block head %}
  <link href="{% static 'css/qa.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
  <!--Breadcrump-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Q.A' %}</li>
    </ol>
  </nav>

  <div class="page-header">
    <a href="{% url 'qa:ask_question' %}" class="btn btn-primary pull-right">
      <i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Ask a Question" %}
    </a>
    <h1>{% trans "Questions" %}</h1>
  </div>
  {% include "snippits/search.html" with query='query' url=search_url %}   
  {% if question_count %}
      <p class="font-weight-bold">Total no. of Question found : {{ question_count }}</p>
    {% endif %}
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link{% if active == 'unanswered' %} active{% endif %}" href="{% url 'qa:index_noans' %}">
              {% trans "Unanswered" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if active == 'answered' %} active{% endif %}" href="{% url 'qa:index_ans' %}">
              {% trans "Answered" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if active == 'all' %} active{% endif %}" href="{% url 'qa:index_all' %}">
              {% trans "All Questions" %}
            </a>
          </li>
        </ul>
        {% for question in questions %}
          {% include 'qa/question_sample.html' with question=question %}
        {% empty %}
          <h4 class="no-data">{% trans "No question to display" %}</h4>
        {% endfor %}

        {% include "includes/pagination.html" %}
        
    </div>
    {% if not question_count %}
      <div class="card col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 my-4">
        <h5 class="card-header">{% trans 'Questions by topic' %}</h5>
        <div class="card-body">
          {% for tag, count in popular_tags %}
            <a href="{% url 'qa:tag' tag %}"><span class="badge badge-info">{{ count }} {{ tag }}</span></a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}


{% block modal %}
  <script src="{% static 'js/qa.js' %}"></script>
{% endblock modal %}
