{% load comments i18n crispy_forms_tags %}
{% block head %}
  <style>
    #div_id_honeypot, #div_id_name, #div_id_email, #div_id_url {
      display: none;   
    }
  </style>
{% endblock head %}

<form action="{% comment_form_target %}" method="post" novalidate>{% csrf_token %}
  {% if next %}
    <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
  {{ form|crispy }}
  <p class="submit">
    <input class="btn btn-secondary" type="submit" name="post" class="submit-post" value="{% trans "Post" %}"/>
    <input class="btn btn-secondary" type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}"/>
  </p>
</form>
