{% extends "base.html" %}

{% block head %}
	Delete
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item active"><a href="{% url 'control_panel:control_newsletter_list' %}">Newsletter List</a></li>
	<li class="breadcrumb-item active"><a href="{% url 'control_panel:control_newsletter_detail' pk=newsletter.pk %}">{{ newsletter.subject }}</a></li>
	<li class="breadcrumb-item active">Delete Newsletter</li>
{% endblock %}

{% block content %}
<br>
<div class="container">
	<h1>Delete Newsletter</h1>
	<br>
	<h4>Subject: {{ newsletter.subject }}</h4><hr>
	<form method="POST">
		{% csrf_token %}
		<h2>Are you sure you want to delete the Newsletter</h2>
		<button class="btn btn-outline-danger mr-2" type="submit">Yes, Delete</button>
		<a class="btn btn-outline-secondary" href="{% url 'control_panel:control_newsletter_detail' pk=newsletter.pk %}">Cancel</a>
	</form>
</div><br><br>	
{% endblock %}
