{% extends "control_base.html" %}
{% block content_base %}


<div class="col-sm-9 offset-sm-1 col-md-10 offset-sm-1 main">
  {% include "includes/messages.html" %}
    <div class = "row">
    <div class = "col-sm-9">
        <h1 class="page-header">All Newsletters</h1>
    </div>
    <div class = "col-sm-3">
        <a href="{% url 'control_panel:control_newsletter' %}"><button type="button" class="btn btn-success">New Newsletter</button></a>
    </div>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th>User</th>
              <th>subject</th>
              <th>Status</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Edit</th>
              <th>Deleted</th>
            </tr>
          </thead>
          <tbody>
            {% for newsletter in newsletters %}
            <tr>
              <td><a href="{% url 'users:detail' username=newsletter.user.username %}">{{ newsletter.user }}</a></td>
              <td><a href="{% url 'control_panel:control_newsletter_detail' pk=newsletter.pk %}">{{ newsletter.subject }}</a></td>
              <td>{{ newsletter.status }}</td>
              <td>{{ newsletter.created }}</td>
              <td>{{ newsletters.updated }}</td>
              <td><a href="{% url 'control_panel:control_newsletter_edit' pk=newsletter.pk %}">Edit</a></td>
              <td><a href="{% url 'control_panel:control_newsletter_delete' pk=newsletter.pk %}">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
        {% include 'includes/pagination.html' %}
    </div>
</div>
{% endblock %}
